@import "base/reset";
@import "base/variables";

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $color-text-main;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

@import "blocks/nav";
@import "blocks/header";
@import "blocks/btn";
@import "blocks/main";
@import "blocks/swiper";
@import "blocks/tabs";
@import "blocks/recommend";
@import "blocks/banner";
@import "blocks/footer";
@import "blocks/form";
