html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #21211F;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.nav {
  border-top: 0.5px solid #0B1547;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.nav__point {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.nav__img {
  width: 24px;
  height: 24px;
}
.nav__text {
  font-size: 16px;
  line-height: 20px;
  color: #7B809A;
}
.nav__text:hover {
  color: #0B1547;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.header__wrap {
  display: flex;
  flex-direction: column;
}
.header__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
.header__item_exit {
  display: flex;
  justify-content: right;
}
.header__item:last-child {
  margin-bottom: 0;
}
.header__point-link {
  display: flex;
  align-items: center;
  margin-right: 15px;
  gap: 5px;
  text-decoration: none;
  font-size: 12px;
  color: #21211F;
}
.header__point-link:last-child {
  margin-right: 0;
}
.header__point-img {
  width: 24px;
  height: 24px;
}
.header__point-img_s {
  width: 18px;
  height: 18px;
}
.header__logo {
  width: 200px;
  height: 73px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  height: 36px;
  width: 123px;
  background-color: #0B1547;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
  cursor: pointer;
}
.btn_main {
  width: 107px;
}
.btn_main img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.btn_main:hover {
  background-color: #7B809A;
}
.btn_info {
  width: 48%;
  display: flex;
  align-items: center;
  height: 48px;
}
.btn_info:first-child {
  background-color: #AA767C;
}
.btn_info img {
  margin-left: 8px;
}
.btn_info:hover {
  opacity: 0.7;
}
.btn_tabs {
  margin-right: 24px;
  padding: 8px 24px;
  width: auto;
  height: auto;
  border: 1px solid #0B1547;
  background-color: transparent;
  color: #0B1547;
}
.btn_tabs:last-child {
  margin-right: 0;
}
.btn_tabs.active {
  background-color: #0B1547;
  color: #fff;
}
.btn_tabs:hover {
  background-color: rgba(11, 21, 71, 0.2);
}
.btn_recommend {
  width: 155px;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
}
.btn_recommend:hover {
  background-color: #7B809A;
}
.btn_cart {
  width: 40px;
  height: 32px;
}
.btn_cart:hover {
  background-color: #7B809A;
}
.btn_form {
  width: 171px;
  height: 48px;
  background-color: rgba(244, 244, 244, 0.2);
}
.btn_form:hover {
  background-color: rgba(170, 118, 124, 0.2);
}

.main__nav {
  margin-top: 24px;
}
.main__nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main__nav-point:not(:first-child)::before {
  content: "-";
  margin: 0 8px;
  color: #AFAFAF;
  font-size: 16px;
  line-height: 24px;
  display: inline;
}
.main__nav-point.active::before {
  color: #7D90DC;
}
.main__nav-point.active .main__nav-link {
  color: #21211F;
}
.main__nav-link {
  color: #AFAFAF;
  font-size: 16px;
  text-decoration: none;
  line-height: 24px;
}
.main__nav-link:hover {
  text-decoration: underline;
}
.main__wrapper {
  display: flex;
  align-items: center;
  margin-top: 22px;
}
.main__wrapper-title {
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  margin-left: 24px;
}
.main__details {
  display: flex;
  margin-top: 50px;
}
.main__details-wrapper {
  width: 50%;
  height: auto;
}
.main__details-wrapper_marg {
  margin-left: 60px;
}
.main__details-tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__details-item {
  display: flex;
  align-items: center;
}
.main__details-item .tag {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-right: 8px;
  padding: 4px;
  color: #fff;
  background-color: #0B1547;
  text-decoration: none;
}
.main__details-item .reviews {
  line-height: 20px;
  margin: 0 4px;
  user-select: none;
}
.main__details-item .share {
  width: 22px;
  height: 22px;
  margin: 0 0 0 12px;
  cursor: pointer;
}
.main__details-item .article {
  line-height: 20px;
  color: #7B809A;
  user-select: none;
}
.main__details-stars {
  display: inline-flex;
}
.main__details-stars .star {
  cursor: pointer;
  margin: 0 4px;
  width: 22px;
  height: 22px;
}
.main__details-info .info-wrapper {
  margin-top: 24px;
}
.main__details-info .info-wrapper_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__details-info .info-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.main__details-info .info-description {
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0;
}
.main__details-info .info-more {
  line-height: 16px;
  color: #AA767C;
}
.main__details-info .info-price {
  display: flex;
  align-items: center;
}
.main__details-info .info-price .new {
  font-size: 24px;
  line-height: 32px;
  margin-right: 16px;
}
.main__details-info .info-price .old {
  text-decoration: line-through;
  line-height: 20px;
  color: #7B809A;
}
.main__details-info .info-link {
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #7B809A;
  text-decoration: none;
}
.main__details-info .line {
  border: 1px solid #EBEDF1;
  margin-top: 24px;
  width: 100%;
}

.swiper-container {
  display: flex;
}

.mySwiper {
  height: 100%;
  width: 20% !important;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper2 {
  height: 100%;
  width: 80% !important;
}

.swiper {
  width: 100%;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tabs {
  margin-top: 24px;
}
.tabs__item:not(.active) {
  display: none;
}
.tabs__nav {
  display: flex;
  align-items: center;
}
.tabs__content {
  margin-top: 16px;
}
.tabs__desc {
  width: 85%;
}
.tabs__desc p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}
.tabs__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.recommend {
  margin-top: 48px;
}
.recommend__wrapper, .recommend__cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  flex-wrap: wrap;
}
.recommend__inner {
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.recommend__inner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recommend__title {
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
}
.recommend__product {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 436px;
  flex: 1 1 24%;
  max-width: calc(25% - 24px);
  margin: 0 12px;
  position: relative;
}
@media (max-width: 768px) {
  .recommend__product {
    flex: 1 1 48%;
    max-width: calc(50% - 24px);
  }
}
@media (max-width: 480px) {
  .recommend__product {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.recommend__product-like {
  position: absolute;
  z-index: 5;
  right: 2%;
  top: 2%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.recommend__product-desc {
  margin-top: 12px;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 100px;
  overflow: hidden;
}
.recommend__product-price {
  display: flex;
  align-items: flex-end;
}
.recommend__product-price .new {
  color: #0B1547;
  font-size: 24px;
  line-height: 32px;
  margin-right: 4px;
}
.recommend__product-price .new_sale {
  color: #AA767C;
}
.recommend__product-price .old {
  font-size: 12px;
  line-height: 16px;
  color: #AFAFAF;
  margin-right: 4px;
}
.recommend__product-price .discount {
  color: #AA767C;
  font-size: 12px;
  line-height: 16px;
}
.recommend__product-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.banner {
  background-color: #0B1547;
  padding: 56px 0;
  margin-top: 40px;
}
.banner__cover {
  display: flex;
  align-items: center;
}
.banner__info {
  width: 50%;
  margin-right: 20px;
}
.banner__title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  color: #FEFEFE;
}
.banner__subtitle {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #FEFEFE;
}

.footer {
  padding: 32px 0;
}
.footer .separator {
  border: 1px solid #ADACB1;
  margin: 16px 0;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__list {
  width: 19%;
}
.footer__point {
  margin-top: 16px;
}
.footer__point-link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #7B809A;
  text-decoration: none;
  transition: all 0.8;
}
.footer__point-link:hover {
  text-decoration: underline;
}
.footer__point:first-child {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #312F3B;
}
.footer__social-link {
  text-decoration: none;
  margin-right: 24px;
}
.footer__social-row {
  font-size: 18px;
  line-height: 24px;
  color: #0B1547;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 4px;
}
.footer__social-row:hover {
  color: #AA767C;
}
.footer__social-img {
  width: 32px;
  height: 32px;
}
.footer__contact {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #21211F;
}
.footer__contact:hover {
  color: #AA767C;
}
.footer__pay-link {
  text-decoration: none;
  margin-right: 24px;
}
.footer__pay-img {
  width: 58px;
  height: 40px;
}
.footer__copyright-link {
  font-size: 16px;
  line-height: 24px;
  color: #AA767C;
  font-family: "Montserrat", sans-serif;
  margin-right: 32px;
}
.footer__copyright-link:last-child {
  margin-right: 0;
}
.footer__copyright-link:hover {
  color: #7B809A;
}

.form {
  width: 55%;
}
.form__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 8px;
}
.form__input {
  width: 69%;
  height: 48px;
  border: none;
  background-color: #FEFEFE;
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #A9A9A9;
}
.form__info {
  line-height: 20px;
  color: #FEFEFE;
}
.form__info a {
  font-family: "Montserrat", sans-serif;
  color: #FEFEFE;
  line-height: 20px;
  cursor: pointer;
}
.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__checkbox + label {
  display: inline-flex;
  align-items: flex-start;
  user-select: none;
  margin-right: 8px;
}
.form__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #7B809A;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}
.form__checkbox:checked + label::before {
  border-color: #7B809A;
  background-color: #7B809A;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.form__checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
.form__checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
.form__checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
.form__checkbox:disabled + label::before {
  background-color: #e9ecef;
}/*# sourceMappingURL=style.css.map */